<div class="slider-container-review">
   <div class="slider-wrapper-review">
      <div class="slider-review">
         <p>hello its my fisadj sdkjs sdjksj sdakj asd jasd asdjkaskd asdjk asdkj</p>
      </div>
      <div class="slider-review">
         <p>hello its my fisadj sdkjs sdjksj sdakj fjdskfjlksdjflk sdlkfj sdlkjf lskd fjlk dsfjlksd fsdlkj fsld fjlsd
            flsdjf sdf sd lfjk asdjkaskd asdjk asdkj</p>
      </div>
      <div class="slider-review">
         <p>hello its my fisadj sdkjs sdjksj sdakj asd jasd asdjkaskd sdakj asd jasd asdjkaskd sdakj asd jasd asdjkaskd
            sdakj asd jasd asdjkaskd sdakj asd jasd asdjkaskd asdjk asdkj</p>
      </div>
   </div>
   <div class="slider-pagination"></div>
   <div class="slider-prev">Prev</div>
   <div class="slider-next">Next</div>
</div>