<div class="slider-container">
   <div class="slider-wrapper">
      <div class="slider-slide1">
         <img src="./img/pomada.png" alt="">
      </div>
      <div class="slider-slide2">
         <img src="./img/cream.png" alt="">
      </div>
      <div class="slider-slide3">
         <img src="./img/cosmetic.png" alt="">
      </div>
   </div>
   <div class="slider-pagination"></div>
   <div class="slider-prev">Prev</div>
   <div class="slider-next">Next</div>
</div>



<div class="percent-line">
   <span id="green" class="line-green"></span>
   <span id="yellow" class="line-yellow"></span>
   <span id="red" class="line-red"></span>
</div>

<button type="button" onclick='showLine("green")'>GREEN</button>
<button type="button" onclick='showLine("yellow")'>YELLOW</button>
<button type="button" onclick='showLine("red")'>RED</button>