.slider-container {
   width: 50%;
   margin: 0 auto;
   height: 100vh;
   position: relative;
}

.slider-wrapper {
   position: relative;
}

.slider-slide1,
.slider-slide2,
.slider-slide3 {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.slider-slide1 {
   z-index: 2;
   opacity: 1;
}

.slider-pagination {
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
}

.slider-prev,
.slider-next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   padding: 10px;
   background-color: #ccc;
   cursor: pointer;
}

.slider-prev {
   left: 10px;
}

.slider-next {
   right: 10px;
}

// style for percent line

.percent-line {
   width: 80%;
   height: 15px;
   border: 2px solid #000;
   border-radius: 16px;
   margin: 0 auto;
   overflow: hidden;
   position: relative; /* Додайте це для коректного позиціювання дочірніх елементів */
}

.line {
   border-radius: 16px;
   display: block;
   height: 100%;
   transition: width 0.5s ease;
   position: absolute; /* Додайте це для коректного позиціювання відносно батьківського контейнера */
}

.line-green {
   background-color: green;
}

.line-yellow {
   background-color: yellow;
}

.line-red {
   background-color: red;
}

.my-btns {
   width: 80%;
   height: auto;
   margin: 20px auto;
   display: flex;
   justify-content: space-evenly;
}

.btn-green,
.btn-yellow,
.btn-red {
   border: 1px solid #000;
   border-radius: 20px;
   padding: 10px 30px;
   color: #fff;
}

.btn-green {
   background-color: green;
}

.btn-green:hover {
   transition: 0.3s;
   background-color: rgb(86, 255, 39);
}

.btn-yellow {
   background-color: yellow;
}

.btn-yellow:hover {
   transition: 0.3s;
   background-color: rgb(254, 236, 72);
}

.btn-red {
   background-color: red;
}

.btn-red:hover {
   transition: 0.3s;
   background-color: rgb(181, 23, 41);
}
